logging_collector = on
log_directory = '{{ postgresql_log_directory }}'
log_filename = '{{ postgresql_log_filename }}'
log_timezone = '{{ postgresql_log_timezone }}'

log_line_prefix = '{{ postgresql_log_line_prefix }} '
log_min_duration_statement = {{ postgresql_log_min_duration_statement }}
log_autovacuum_min_duration = {{ postgresql_log_autovacuum_min_duration }}
log_checkpoints = {{ postgresql_log_checkpoints }}
log_connections = {{ postgresql_log_connections }}
log_disconnections = {{ postgresql_log_disconnections }}
log_lock_waits = {{ postgresql_log_lock_waits }}
log_temp_files = {{ postgresql_log_temp_files }}

# We're using logrotate instead of postgres' mechanism
log_rotation_age = 0
log_rotation_size = 0
